#animate {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#catImg{background-image:url("cat.png");
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 49%;
    margin-top: 30%;
    background-size: 100% 100%;
}