#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}

#catImg{background-image:url("cat.png");
 /*   width: 227px;
    height: 222px;
    bottom: -455px;
    left: 237px;*/
    background-size: 15% 15%;
    z-index: 10;
}