
body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#animate {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    z-index: 1;
}

#catParent{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#catImg{background-image:url("cat.png");
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto auto;
    background-size: 100% 100%;
    z-index: 1;
}